@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
.button{
    padding: 1rem 4rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    color: #892727;
    background-color: #EEDDDD;
    font-size: 1.3rem;
    margin: 0.5rem;
}
.button:hover{
    background-color: #d88c8c;
    transition: 200ms;
    transition-timing-function: ease-in;
}
.header {
    font-family: 'Spartan', sans-serif;
    font-size: 1.4rem;
}
.button-two {
    background-color: #FA9E9E;
  }
  input {
    padding: 1.2rem;
    margin: 5px;
    font-size: 1.3rem;
}
